a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.main-wrapper {
  margin-bottom: 2rem;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.main-wrapper {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  .main-wrapper {
    padding-top: 0;
    // this is echoed in _global-nav @media{#sideNav:width}
    padding-left: $sidebar-base-width;
  }
}


.social-item {
  margin-bottom: 1rem;
  .social-icon-layer {
    // display: inline-block;
    // color: $white;
    // text-align: center;
    // font-size: 1.5rem;
    // line-height: 3.5rem;
    margin-right: 3rem;
    // &:hover {
    //   background-color: $primary;
    // }
    .social-icon {
      color: $white;
    }
  }
}

.list-devicons {
  color: $forest-green;
  // all that flexlist template was achieved with this line XD
  max-width: 30rem;
  // font-size: 3rem;
  :hover {
    // color: $primary;
  }
  .flex-list-grid {
    .flex-list-row {
      .flex-list-item {
        .list-inline-item {
          // $:not(:last-child) was not working here for some reason
          margin-right: 1rem;
        }
      }
    }
  }
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item:hover {
  // color: $primary;
}

.list-inline-item {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.skill-icon {
  color: $forest-green;
}

.d3-devicon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
}

.vue-devicon {
  /* height: 48px;
  width: 48px;
  line-height: 1;
  padding: 4px;
  margin-bottom: 12px; */
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
  // padding: .25rem;
  // margin-bottom: .8rem;
}

.tableau-devicon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
}
.terraform-devicon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
}
.bash-devicon {
  height: 12.5rem;
  width: 12.5rem;
  margin: 0rem .25rem .75rem .25rem;
}
.powershell-devicon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
}
.bash-devicon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
}
.azure-devicon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem .25rem .75rem .25rem;
}

.start-experience-type {
  font-size: 3rem;
}
