// Mixins

@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@mixin body-font {
  font-family: 'Open Sans', serif;
}
@mixin heading-font {
  font-family: 'Saira Extra Condensed', serif;
}
@mixin code-font {
  font-family: 'Inconsolata', monospace;
}
