.custom-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  /* overflow-x: auto; */
  display: flex;
  flex-direction: column;
  max-width: 15rem;
}

.custom-modal-header {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  display: flex;
    border-bottom: 1px solid #eeeeee;
  /* justify-content: space-between; */
  font-family: 'Saira Extra Condensed';
}

.custom-modal-body {
  /* position: relative; */
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  font-family: 'Open Sans';
}

.custom-modal-footer {
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding: 1.5rem 0rem 0rem 0rem;
  border-top: 1px solid #eeeeee;
  font-family: 'Saira Extra Condensed';
  /* display: flex; */
  /* justify-content: flex-end; */
}


.button-drawer {
  display: flex;
  /* justify-content: space-around; */
}

.btn-ex {
  border: none;
  font-size: 1rem;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem .5rem 0rem;
  cursor: pointer;
  font-weight: bold;
  color: $primary;
  background: transparent;
}

.btn-save {
  color: white;
  background: $forest-green;
  border: 1px solid $forest-green;
  border-radius: .25rem;
  font-family: 'Saira Extra Condensed';
}
.btn-close {
  color: white;
  background: $primary;
  border: 1px solid $primary;
  border-radius: .25rem;
  font-family: 'Saira Extra Condensed';
}
.btn-page {
  color: white;
  background: $orange;
  border: 1px solid $orange;
  border-radius: .25rem;
  font-family: 'Saira Extra Condensed';
}

.saveme-text {
  color: $forest-green 
}
.pageme-text {
  color: $orange
}
